.sidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #c0c0c0;
    width: 300px;
    height: 100vh;
}

.todoapp-header {
   padding-top: 10px;
   font-weight: normal;
   margin-bottom: 40px;
   margin-left: 10px;
}

.sidebar-list-element {
    background-color: rgb(213, 212, 212);
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: 270px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-button {
    cursor: pointer;
    width: 300px;
    height: 30px;
    background-color: #e2dddd;
    border: none;
    bottom: 0;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-list-container {
    display: flex;
    flex-direction: column;
    
}

.delete-list-button {
    height: 20px;
    width: 20px;
    background-size: cover;
    border: none;
    background-image: url(/images/delete.svg);
    background-color: inherit;
}

.edit-list-button {
    height: 20px;
    width: 20px;
    background-size: cover;
    border: none;
    background-image: url(/images/pen.svg);
    background-color: inherit;
}
