 *, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    } 

    html {
        height: 100%;
    }
    
    body {
        height: 100%;
    }
    
    main {
        display: flex;
        min-height: 100%;
    }
    

.todolist-header{
    font-family: 'Roboto', sans-serif;
    color: lightgray;
    font-weight: 10;
    font-size: 60px;
    color: 	#454545;
    margin-bottom: 20px;
}

.task-input{ 
    height: 35px;
    width: 100%;
    border: 1px solid lightgray;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
}


.adding-button{
    cursor: pointer;
    color: white;
    background-color: rgb(52, 146, 205);
    height: 40px;
    width: 60px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
}

.task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 1px solid;
    border-color: lightgray;
    padding-left: 10px;
    padding-right: 20px;
    line-height: 1rem;
}   

.items-list {
    width: 100%;
    overflow: auto;
    height: 65vh;
}


.items-list div:not(:first-child){
    border-top: none;
}

.task:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.task:last-child{
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
}


.delete-button{
    cursor: pointer;
    height: 20px;
    min-width: 20px;
    background-image: url(/images/delete.svg);
    background-size: cover;
    border: none;
    background-color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 100px 200px 30px;
}

.checkbox-style {
    margin-right: 60px;
}

.checkbox-checked {
    text-decoration: line-through;
}

.element-container {
    display: flex;
    width: 90%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.task-text {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
}